* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
}

h1 {
    color: brown;
    text-decoration: underline;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: dashed;
}

h4 {
    text-align: left;
}

header {
    background-color: rgb(216, 240, 240);
}

footer {
    clear: both;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(216, 240, 240);
    text-align: center;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .philosopher-regular {
        font-family: "Philosopher", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .philosopher-bold {
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .philosopher-regular-italic {
        font-family: "Philosopher", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .philosopher-bold-italic {
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      

}

main {
    text-align: center;
}

ul {
    text-align: left;
}

table {
    text-align: justify;
}

nav {
    font-family:'Times New Roman', Times, serif
}

#cocinero {
    width: 60%;
    height: 15%;
    border-radius: 50px;
}

#cocinas {
    width: 60%;
    height: 15%;
    border-radius: 50px;
}

#bizcochuelo {
    width: 30%;
    height: 10%;
    margin-left: 20%;
    margin-right: 40%;
    border-radius: 10px;
}


.formulario {

    text-align: center;
    background-color: (255, 255, 255, 0, 4);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height: 60%;
    margin: auto;

}

a:link {
    color: #da740e;

}

a:hover {
    background-color: white;
    animation: heartbeat 1s infinite;
}

a:visited {
    color: brown;
}

a:active {
    background-color: red;
    color: black;
}

.animacion {

    position: relative;
    display: inline-block;

}


@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(0.75);
    }
}