*{
    margin: 0;
    padding: 0;
}
h1 {
    
    text-decoration: underline;
    text-align: center;
}
h2 {
    text-decoration: underline;
    text-align: center;
}
h3 {
    text-align: center;
    text-decoration: dashed;
}
h4 {
    text-align: left;
}
header{
    background-color: aqua;
}
footer{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
    text-align: center;
}
body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    text-align: center;
}
ul{
    text-align: left;
}
table{
    text-align: justify;
}
nav{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#cocinero{
    width: 80%;
    height: 10%;
    border-radius: 50px;
}
#cocinas{
    width:80%;
    height: 15%;
    border-radius:50px ;
}
#bizcochuelo{
    width:40%;
    height:5%;
    border-radius: 50px;
}
.productos{
    font-style: italic;
    font-size: medium;
}
.formulario{
    
    text-align: center;
    background-color: (255,255,255,0,4);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height:60% ;
    margin:auto;
    
    

    

    
}