* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: dashed;
}

h4 {
    text-align: left;
}

header {
    background-color: aqua;
}

footer {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
    text-align: center;
}

body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
}

ul {
    text-align: left;
}

table {
    text-align: justify;
}

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#cocinero {
    width: 60%;
    height: 15%;
    border-radius: 50px;
}

#cocinas {
    width: 60%;
    height: 15%;
    border-radius: 50px;
}

#bizcochuelo {
    width: 30%;
    height: 10%;
    border-radius: 50px;
}


.formulario {

    text-align: center;
    background-color: (255, 255, 255, 0, 4);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height: 60%;
    margin: auto;

}

a:link {
    color: #da740e;

}

a:hover {
    background-color: white;
    animation: heartbeat 1s infinite;
}

a:visited {
    color:brown;
}

a:active {
    background-color: red;
    color: black;
}

.animacion {

    position: relative;
    display: inline-block;

}


@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(0.75);
    }
}